<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% @user.received_reviews.each_with_index do |received_review, index| %>
<p>
  <strong><%= link_to "review"+(index+1).to_s, received_review %></strong>
  <%= received_review.comment %>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
